<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="CurrentDate" value="01-04-2016"/>
  <add key="StockPrice-ABC INC" value="30"/>
  <add key="StockPrice-CDE LTD" value="110"/>
  <add key="Volatility-ABC INC" value="40"/>
  <add key="Volatility-CDE LTD" value="5"/>
  <add key="RiskFree-PLN" value="5"/>
  <add key="RiskFree-USD" value="3"/>
</appSettings>
